.lectures_reactiva,
.lectures_reactiva30 {
    width: 47%;
    float: left;
    border: 1px solid #e2e2e2;
    background-color: #f7f7f7;
    margin: 2em;
    font-size: .8em;
}
.lectures_reactiva30 {
    width: 95%;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left:0px;
    margin-right: 0px;
}
.lectures_reactiva table {
    font-weight: 900;
}

.lectures_reactiva table,
.lectures_reactiva30 table {
    border: 1px solid #e2e2e2;
    width: 95%;
}

.lectures_reactiva30 table {
    width: 98%;
}
