.row {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0px;
}

.column {
    display: table-cell;
    width: 45%;
}

.emergency {
    background-color: #f7f7f7;
    text-align: left;
    width: 100%;
    margin: 0px 0px 1em 0px;
    float: left;
}

.complaints {
    background-color: #f7f7f7;
    text-align: left;
    width: 100%;
    margin: 0px 0px 1em 0px;
    float: left;
}
