    .certificate_origin {
        background-color: #f7f7f7;
        text-align: left;
        width: 100%;
        margin: 1em 0px 0px 0px;
        float: left;
        font-size: .9em;
        page-break-inside: avoid;
    }

    .cert_orig_info {
        width: 60%;
        float: left;
    }

    .cert_orig_taula tr:nth-child(odd),
    .cert_orig_taula tr:nth-child(even){
        background-color: #f7f7f7;
    }

    .cert_orig_taula {
        margin: 0px 1em;
    }

    .cert_orig_taula table {
        cell-padding: 0px;
        cell-spacing: 0px;
        text-align: left;
        width: 98%;
    }

    .cert_orig_taula td {
        padding: 0px;
    }

    .cert_orig_taula th {
        text-align: left;
        padding: .5em 0px;
    }

    tfoot tr {
        border-top: 1px solid #4c4c4c;
    }

    .cert_orig_taula tfoot td{
        font-weight: 900;
        padding: .5em 0;
    }

    .cert_orig_grafic {
        width: 25%;
        float:right;
        padding: 1em 1em 0em 0em;
    }

    img.orig {
        width: 150px;
    }
