.pl_15 {
    padding: 0px 15px;
}

.partner {
    background-color: #bdc83f;
}

.agreementpartner {
    background-color: #499944;
}

.profile_curve_text {
    text-align: center;
    font-size: .8em;
}
